.card-body {
   
   
}

.card-img-container {
   display: flex;
   justify-content: center;
   background-color: hsl(27, 100%, 93%);
   padding-left: 3.5rem;
   border-radius: 0.8rem;
}

.card-img-big {
   position: relative;
}

.card-img-small {
   position: absolute;
   z-index: 1;
   bottom: -2px;
   transform: translateX(-30%);
}

.img {
   margin: 0;
   padding: 0;
}

.card-details {
   margin-top: 1rem;
}

.details-category {
   color: var(--orange-accent);
   font-size: 0.75rem;
}

.details-title {
   font-weight: 700;
   line-height: 2rem;
}