.swiper {
   width: 100%;
}

.swiper-slide {
   margin-bottom: 5rem;
   user-select: none;
   display: flex;
   justify-content: center;
}


.swiper-slide-active {
   opacity: 1;
}

.swiper-slide-next,
.swiper-slide-prev {
   opacity: 0.5;
} 

.swiper-pagination-bullet {
   background-color: #999;
   width: 2rem;
   height: 0.6rem;
   border-radius: 0.5rem;
   transition: all 0.7s ease-in-out;
}


.swiper-pagination-bullet-active {
   background-color: var(--orange-accent);
}

