.testimonial-main {
   width: 100vw;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   background-color: aqua;
}

.testimonial-text {
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

.testimonial-heading {
   font-weight: 600;
   font-size: 2.3rem;
   font-weight: 600;
   line-height: 4rem;
   letter-spacing: 0.03em;
}