:root {
  --foreground-clr: rgb(0, 0, 0);
  --background-clr: rgb(255, 255, 255);
  --footer-grey-accent: rgba(248, 248, 248, 1);
  --footer-dark-accent: rgba(84, 84, 84, 1);
  --orange-accent: rgba(253, 111, 0, 1);
  --grey-accent: rgba(248, 248, 248, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-clr: rgb(255, 255, 255);
    --background-clr: rgba(30, 30, 30, 1);
    --footer-dark-accent: rgba(18, 18, 18, 1);
    --footer-grey-accent: rgba(30, 30, 30, 1);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  color-scheme: light;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--background-clr);
  color: var(--foreground-clr);
  width: 70%;
  overflow-x: hidden;
}
